/* styles.css */

/* colours #00AF54 #007CBE #FFA3AF #FFD639 #FBAF00 */

.title {
    color:#007CBE;
    background-color:antiquewhite;
    font-size:100px;
    font-weight:700;
    text-align: center;
}