/* styles.css */

/* colours #00AF54 #007CBE #FFA3AF #FFD639 #FBAF00 */
* {
    margin: 0px;
    padding: 0px;
    /*box-sizing: border-box;*/
    font-family: "Share Tech Mono", monospace;
}

.header {
    background-color:#333399;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height:100px;
}

.title {
    /*background-color:antiquewhite;*/
    color:#fff;
    padding:30px;
    font-size:50px;
    font-weight:700;
}

.navigation:not(button) > a {
    color:#fff;
    background:none;
    font-size:20px;
    text-decoration: none;
    margin-right:50px;
}

.navigation button {
    background-color:#663399;
    margin-inline:5px;
    margin-right:50px;
    border-radius:10px;
    padding:0.5rem;
    width:110px;

    /*transition:color;*/
}

.navigation button:hover, 
.navigation button:hover > a {
    background-color:rgb(209, 209, 209);
    color:#663399;
}

.dropdown {
    position:relative;
    display:inline-block;
}

.dropdown .drop-button {
    font-size:20px;
    margin-inline:5px;
    margin-right:50px;
    border-radius:10px;
    padding:0.5rem;
    width:110px;
}

.dropdown:hover .drop-button {
    background-color:#fff;
}

.drop-content {
    display:none;
    position:absolute;
}

.drop-content a {
    float:none;
    display:block;
    color:black;
    text-decoration: none;
    padding: 12px 16px;
    text-align:left;
}

.dropdown:hover .drop-content {
    display:block;
}