/* styles.css */

/* colours #00AF54 #007CBE #FFA3AF #FFD639 #FBAF00 */
* {
    margin: 0px;
    padding: 0px;
    /*box-sizing: border-box;*/
    font-family: "Share Tech Mono", monospace;
}

.header {
    background-color:#68b6e4;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height:100px;
}

.title {
    color:black;
    /*background-color:antiquewhite;*/
    padding:30px;
    font-size:50px;
    font-weight:700;
}

.navigation:not(button) {
    font-size:20px;
}

.navigation button {
    background-color:antiquewhite;
    margin-inline:5px;
    margin-right:10px;
    border-radius:20px;
    padding:0.5rem;
    width:110px;

    transition:background-color 0.3s, color 0.1s;
}

.navigation button:hover, 
.navigation button:hover > a {
    background-color:rgb(209, 209, 209);
    color:azure;
}